<ion-toolbar color="tertiary">
    <ion-title id="titu">Docente</ion-title>
    <ion-button (click)="cerrarSesion()" class="boton" type="button">
        Cerrar Sesion
    </ion-button>
</ion-toolbar>


<ion-content class="ion-padding ion-text-center">


    <div id="saludo">
        <h1 *ngIf="saludo"> Bienvenido {{saludo}}</h1>
        <h1 *ngIf="!saludo">Bienvenido usuario desconocido</h1>
    </div>
    <br>
    <div id="saludo" style="width: 60%; height: auto; margin-left: 20%;">

        <ion-label>Seleccione la sección que desea generar QR de asistencia</ion-label>

    </div>
    <br>

    <div id="secciones">

        <ion-grid>
            <!-- primer boton  -->
            <ion-row>
                <ion-col size="10">
                    <ion-button type="button" style="border-radius: 15px;" id="btn_" (click)="navegarQR('calidad')">
                        Calidad de Softwarte
                    </ion-button>
                </ion-col>
            </ion-row>
            <!-- segundo boton -->
            <ion-row>
                <ion-col size="10">
                    <ion-button type="button" id="btn_" (click)="navegarQR('ingles')">
                        Ingles elemental
                    </ion-button>
                </ion-col>
            </ion-row>
            <!-- tercer boton  -->
            <ion-row>
                <ion-col size="10">
                    <ion-button type="button" id="btn_" (click)="navegarQR('apli')">
                        Aplicaciones moviles
                    </ion-button>
                </ion-col>
            </ion-row>

        </ion-grid>

    </div>


</ion-content>