.boton {
    float: right;
    margin-right: 10px;
    margin-top: -30px;
}

#titu {
    margin-top: 10px;
    font-size: 30px;
}

#saludo {
    margin: 5px 5px 5px 5px;
    border: solid 1px black;
    color: white;
    background-color: #0856a9;
    border-radius: 12px;
}

#btn_ {
    width: 100%;
    padding: 5px 5px 5px 5px;
    border: 1px solid black;
    margin-top: 13px;
    float: left;
    margin-left: 10%;
    font-size: 25px;
    word-spacing: 3px;
}