#content {
    margin: 0px;
    padding: 0px;
}

#form_ {
    margin: 2px 2px 2px 2px;
    align-items: center;
    margin-top: 15%;
}

.linea {
    border-radius: 12px;
    border: solid 1px rgb(6, 47, 129);
}

.linea:hover {
    background-color: red;
}

ion-input {
    --padding-start: 10px;
    /* Ajusta el valor según tus necesidades */
}